
.register input{
  background-color: skyblue;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 10px;
  margin-left: 40%;
  width: 20%;
  border: black 1px solid;
  color: #fff;
  font-size: 18px;
  font-weight: 100px;
}
.register button{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 10px;
  margin-left: 40%;
  width: 22%;
  border: black 3px solid;
  background-color: #000;
  color: #fff;

}
